:root {
    --black: rgba(0, 0, 0, 0.692);
    /*--lt-grey: #f5f7f7;*/
    --lt-grey: #f8f8f8;
    --med-grey: #999;
    --dk-grey: #444;
    /*--wh-blue: #f2f9ff;*/
    --lt-blue: #def1ff;
    --lt-blue-mono: #ededed;
    --med-blue: #55b8fe;
    --dk-blue: #0181dc;
    --dk-blue-mono: #656565;
    --green: #00ff00;
    --red: #ff3333;
  }

 
  
  body {
    /* font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Roboto", "Droid Sans", "Arial", sans-serif;   */
    font-family: "arial,sans-serif";
  }

  svg {
    width: 40%;
    height: 40%;   
  }

  svg text {    
      font-weight: "100";
      font-family: inherit';  
  }

  svg rect:focus {
    outline: none;
}

  